<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="index">
    <head>
    </head>
    <body>
        <div id="index" data-role="page">

        <div>
            <h1>Database Screening</h1>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post"><button name="action" value="logout" class="ui-btn-right" data-inline="true" data-icon="delete">Log Out</button></form>
        </div>

        <div data-role="content" layout:fragment="content">

            <div data-role="popup" id="type-popup">
                <p>
                    Selezionare il tipo di esame:
                    <a href="../exam/sof.add.html?anagrafica_id=${patientid}" data-role="button" data-icon="plus">SOF</a>
                    <a href="../exam/ctv-add.html?anagrafica_id=${patientid}" data-role="button" data-icon="plus">Colon TC Virtuale</a>
                    <a href="../exam/csc-add.html?anagrafica_id=${patientid}" data-role="button" data-icon="plus">Colonscopia</a>
                </p>
            </div>

            <ul data-role="listview" data-inset="true">
                <li>
                    <h3>Numero cartella</h3>
                    span class="ui-li-aside" th:text="${paziente.cartella}"></span>
                </li>
                <li>
                    <h3>Nome</h3>
                    span class="ui-li-aside" th:text="${paziente.nome}"></span>
                </li>
                <li>
                    <h3>Cognome</h3>
                    span class="ui-li-aside" th:text="${paziente.cognome}"></span>
                </li>
                <li>
                    <h3>Iniziali</h3>
                    span class="ui-li-aside" th:text="${paziente.iniziali}"></span>
                </li>
                <li>
                    <h3>Sesso</h3>
                    span class="ui-li-aside" th:text="${paziente.sesso}"></span>
                </li>
                <li>
                    <h3>Data di nascita</h3>
                    span class="ui-li-aside" th:text="${#calendars.format(paziente.datanascita,'dd/MM/yyyy')}"></span>
                </li>
                <li>
                    <h3>Luogo di nascita</h3>
                    span class="ui-li-aside" th:text="${paziente.luogonascita}"></span>
                </li>
                <li>
                    <h3>Nazionalit&agrave;</h3>
                    span class="ui-li-aside" th:text="${paziente.nazionenascita}"></span>
                </li>
            </ul>

            <div data-role="collapsible-set">
                <div data-role="collapsible">
                    <h3>Antropom</h3>

                    <ul data-role="listview">
                        <li>
                            <h3>Peso</h3>
                            span class="ui-li-aside"><span th:text="${paziente.peso}"></span> <strong>Kg</strong></span>
                        </li>
                        <li>
                            <h3>Altezza (m)</h3>
                            span class="ui-li-aside"><span th:text="${paziente.altezza}"></span> <strong>m</strong></span>
                        </li>
                        <li>
                            <h3>BMI</h3>
                            span class="ui-li-aside" th:text="${paziente.bmi}"></span>
                        </li>
                    </ul>

                </div>

                <div data-role="collapsible">
                    <h3>Stile di vita</h3>
                    <ul data-role="listview">
                        <li>
                            <h3>Fumo</h3>
                            <fieldset data-role="controlgroup" data-mini="true" class="ui-li-aside">
                                <label for="fumo">Si/No</label>
                                <input type="checkbox" name="fumo" id="fumo" th:checked="${paziente.fumo}" disabled="disabled"/>
                            </fieldset>
                        </li>
                        <li>
                            <h3>Alcool</h3>
                            <fieldset data-role="controlgroup" data-mini="true" class="ui-li-aside">
                                <label for="alcohol">Si/No</label>
                                <input type="checkbox" name="alcohol" id="alcohol" th:checked="${paziente.alcohol}" disabled="disabled"/>
                            </fieldset>
                        </li>
                    </ul>
                </div>
            </div>

            <div data-role="collapsible-set">
                <div data-role="collapsible">
                    <h3>Storia familiare</h3>
                    <ul data-role="listview">
                        <li data-role="list-divider">Lista familiarità <a class="ui-li-count" style="font-size: 14px;padding: 0;" href="../familiare-add.jsp?anagrafica_id=${patientid}" data-role="button" data-icon="plus" data-iconpos="notext">Inserimento nuovo familiare</a></li>
                        <c:choose>
                            <c:when test="${rsfam.rowCount eq 0}">
                                <li>Nessuna familiarità trovata.</li>
                            </c:when>
                            <c:otherwise>
                                <c:forEach var="row" items="${rsfam.rows}">
                                    <li>
                                        <a href="../familiare-detail.jsp?id=${row.id}">
                                            <h3>Grado ${row.grado}</h3>
                                            <p>${row.ccr?"CCR":""}${row.pa?(row.ccr?", PA":"PA"):""}${row.altric?(row.ccr or row.pa?", ".concat(row.desc_altri):row.desc_altri):""}</p>
                                            <p class="ui-li-aside">
                                                <strong>CCR: </strong>${row.ccr?"Si":"No"}  <br/>
                                                <strong>PA: </strong>${row.pa?"Si":"No"}  <br/>
                                                <strong>Altri: </strong>${row.altric?"Si":"No"}
                                            </p>
                                        </a>
                                    </li>
                                </c:forEach>
                            </c:otherwise>
                        </c:choose>
                    </ul>
                </div>
                <div data-role="collapsible">
                    <h3>Esami</h3>
                    <ul data-role="listview" data-filter="true">
                        <li data-role="list-divider">Lista esami <a class="ui-li-count" style="font-size: 14px;padding: 0;" href="#type-popup" data-rel="popup" data-role="button" data-icon="plus" data-iconpos="notext">Inserimento nuovo esame</a></li>
                        <c:choose>
                            <c:when test="${rses.rowCount eq 0}">
                                <li>Nessun esame trovato.</li>
                            </c:when>
                            <c:otherwise>
                                <c:forEach var="row" items="${rses.rows}">
                                    <li>
                                        <a href="exam-detail-${row.tipo}.jsp?id=${row.id}">
                                            <h3><scr:decodeExamType>${row.tipo}</scr:decodeExamType></h3>
                                            <p class="ui-li-aside"><strong>Data: </strong><fmt:formatDate value="${row.dataesame}" pattern="dd/MM/yyyy"/></p>
                                        </a>
                                    </li>
                                </c:forEach>
                            </c:otherwise>
                        </c:choose>
                    </ul>
                </div>
                <div data-role="collapsible">
                    <h3>Patologie concomitanti</h3>
                    <ul data-role="listview">
                        <li data-role="list-divider">Lista patologie concomitanti<a class="ui-li-count" style="font-size: 14px;padding: 0;" href="../patologiec-add.jsp?anagrafica_id=${patientid}" data-role="button" data-icon="plus" data-iconpos="notext">Inserimento nuova patologia</a></li>
                        <c:choose>
                            <c:when test="${rspcon.rowCount eq 0}">
                                <li>Nessuna patologia trovata.</li>
                            </c:when>
                            <c:otherwise>
                                <c:forEach var="row" items="${rspcon.rows}">
                                    <li>
                                        <a href="../patologiec-detail.jsp?id=${row.id}">
                                            <h3>${row.tipo}</h3>
                                            <p>${row.descrizione}</p>
                                            <p class="ui-li-aside"><strong>Sindrome: </strong>${row.sindrome}<br/><strong>Mutazioni: </strong>${row.mutazioni}</p>
                                        </a>
                                    </li>
                                </c:forEach>
                            </c:otherwise>
                        </c:choose>
                    </ul>
                </div>
                <div data-role="collapsible">
                    <h3>Terapie</h3>
                    <ul data-role="listview">
                        <li data-role="list-divider">Lista terapie<a class="ui-li-count" style="font-size: 14px;padding: 0;" href="../terapie-add.jsp?anagrafica_id=${patientid}" data-role="button" data-icon="plus" data-iconpos="notext">Inserimento nuova terapia</a></li>
                        <c:choose>
                            <c:when test="${rster.rowCount eq 0}">
                                <li>Nessuna terapia trovata.</li>
                            </c:when>
                            <c:otherwise>
                                <c:forEach var="row" items="${rster.rows}">
                                    <li>
                                        <a href="../terapie-detail.jsp?id=${row.id}">
                                            <h3>${row.tipo}</h3>
                                            <p>${row.descrizione}</p>
                                            <p class="ui-li-aside"><strong>Inizio: </strong><fmt:formatDate value="${row.inizio}" pattern="dd/MM/yyyy"/><br/><strong>Fine: </strong><fmt:formatDate value="${row.fine}" pattern="dd/MM/yyyy"/><br/><strong>Durata (gg): </strong>${row.durata}</p>
                                        </a>
                                    </li>
                                </c:forEach>
                            </c:otherwise>
                        </c:choose>
                    </ul>
                </div>
            </div>

            <ul data-role="listview" data-inset="true">
                <li><a href="../exam-list.jsp?anagrafica_id=${patientid}">Esami</a> <span class="ui-li-count"><fmt:formatNumber value="${rspn.rows[0].numesami}" maxFractionDigits="0"/> esami</span></li>
            </ul>

            <div class="ui-grid-a"  >
                <div class="ui-block-a">
                    <form action="../index.jsp" method="post">
                        <input type="hidden" name="id" id="id" value="${param.id}"/>
                        <button type="submit" name="action" value="delete" data-icon="delete" data-iconpos="left">Delete</button>
                    </form>
                </div>
                <div class="ui-block-b">
                    <a href="edit.html?id=${rs.rows[0].id}" data-role="button" data-icon="gear" data-iconpos="right">Edit</a>
                </div>
            </div>
        </div>

        <div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
            Logged user: <span sec:authentication="name">Bob</span> |
            Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> |
        </div>

        </div>
    </body>
</html>
