<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="index">
    <head>
        <title data-th-text="|#{message.title} - ${title}|">Screening - Pazienti</title>

        <!-- bower:css -->
        <link rel="stylesheet" data-th-href="@{/vendor/jquery-mobile-bower/css/jquery.mobile-1.4.2.css}" href="../../static/vendor/jquery-mobile-bower/css/jquery.mobile-1.4.2.css" />
        <!-- endbower -->

        <script data-th-src="@{/vendor/requirejs/require.js}" src="../../static/vendor/requirejs/require.js" data-main="../../static/js/main-static"></script>
    </head>
    <body>
        <div id="index" data-role="page">

            <div>
                <h1>Database Screening</h1>
                <form sec:authorize="isAuthenticated()" data-th-action="@{/logout}" method="post">
                    <button name="action" value="logout" class="ui-btn-right" data-inline="true" data-icon="delete">Log Out</button>
                </form>
            </div>

            <div data-role="main" class="ui-content" layout:fragment="content">
                <h2>Edit patient information</h2>

                <h3>Anagrafica</h3>

                <form action="#" data-th-action="@{/paziente/{id}/edit(id=${paziente.id})}" data-th-object="${paziente}" method="post">
                    <div class="ui-field-contain">
                        <label data-th-for="${#ids.next('screening')}" data-th-text="#{messages.screening}">Screening:</label>
                        <input type="checkbox"
                            data-th-field="*{screening}"
                            data-th-attr="data-on-text=#{messages.on},data-off-text=#{messages.off}"
                            data-role="flipswitch"
                            data-on-text="Yes"
                            data-off-text="No" />
                    </div>

                    <div class="ui-field-contain" data-th-if="${cartella}">
                        <label data-th-for="${#ids.next('cartella')}" data-th-text="#{messages.foldernumber}">Numero Cartella:</label>
                        <input type="text" data-th-field="*{cartella}" data-mini="true" />
                    </div>

                    <div class="ui-field-contain">
                        <label data-th-for="${#ids.next('nome')}" data-th-text="#{messages.name}">Nome:</label>
                        <input type="text" data-th-field="*{nome}" data-mini="true" />
                    </div>

                    <div class="ui-field-contain">
                        <label data-th-for="${#ids.next('cognome')}" data-th-text="#{messages.surname}">Cognome:</label>
                        <input type="text" data-th-field="*{cognome}" data-mini="true" />
                    </div>

                    <div class="ui-field-contain">
                        <label data-th-for="${#ids.next('iniziali')}" data-th-text="#{messages.initials}">Iniziali:</label>
                        <input type="text" data-th-field="*{iniziali}" data-mini="true" />
                    </div>

                    <div class="ui-field-contain">
                        <label data-th-for="${#ids.next('sesso')}" data-th-text="#{messages.gender}">Sesso:</label>
                        <select data-th-field="*{sesso}" data-role="flipswitch" data-th-remove="all-but-first">
                            <option data-th-each="gender : ${allGenders}"
                                data-th-value="${gender}" data-th-text="#{${'messages.gender.' + gender}}">M</option>
                            <option value="F">F</option>
                        </select>
                    </div>

                    <div class="ui-field-contain">
                        <label data-th-for="${#ids.next('datanascita')}" data-th-text="#{messages.birthdate}">Data di nascita:</label>
                        <input type="date" data-th-field="*{datanascita}" data-mini="true" data-role="date"/>
                    </div>

                    <div class="ui-field-contain">
                        <label data-th-for="${#ids.next('luogonascita')}" data-th-text="#{messages.birthplace}">Luogo di nascita:</label>
                        <input type="text" data-th-field="*{luogonascita}" data-mini="true" />
                    </div>

                    <div class="ui-field-contain">
                        <label data-th-for="${#ids.next('nazionenascita')}" data-th-text="#{messages.nationality}">Nazionalit&agrave;:</label>
                        <input type="text" data-th-field="*{nazionenascita}" data-mini="true" />
                    </div>


                    <div data-role="collapsible-set">
                        <div data-role="collapsible" data-collapsed="false">
                            <h3>Antropom</h3>
                            <div>
                                <div class="ui-field-contain">
                                    <label data-th-for="${#ids.next('peso')}" data-th-text="#{messages.weight}">Peso:</label>
                                    <input type="text" data-th-field="*{peso}" data-mini="true" />
                                </div>

                                <div class="ui-field-contain">
                                    <label data-th-for="${#ids.next('altezza')}" data-th-text="#{messages.height}">Altezza (m):</label>
                                    <input type="text" data-th-field="*{altezza}" data-mini="true" />
                                </div>
                            </div>
                        </div>

                        <div data-role="collapsible">
                            <h3>Stile di vita</h3>
                            <div>
                                <div class="ui-field-contain">
                                    <fieldset data-role="controlgroup">
                                        <legend data-th-text="#{messages.smoker}">Fumo:</legend>
                                        <label data-th-for="${#ids.next('fumo')}" for="fumo" data-th-text="#{messages.yesno}">Si/No</label>
                                        <input type="checkbox" data-th-field="*{fumo}" id="fumo" />
                                    </fieldset>
                                </div>

                                <div class="ui-field-contain">
                                    <fieldset data-role="controlgroup">
                                        <legend data-th-text="#{messages.drinker}">Alcohol:</legend>
                                        <label data-th-for="${#ids.next('alcohol')}" for="alcohol" data-th-text="#{messages.yesno}" >Si/No</label>
                                        <input type="checkbox" data-th-field="*{alcohol}" id="alcohol"/>
                                    </fieldset>
                                </div>

                            </div>
                        </div>
                    </div>

                    <fieldset class="ui-grid-a">
                        <div class="ui-block-a"><input type="reset" value="Cancel" data-iconpos="left" data-icon="delete" /></div>
                        <div class="ui-block-b"><input type="submit" name="action" value="Save" data-icon="check" data-iconpos="right" data-theme="b"/></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>
