/* 
    Document   : screening
    Created on : 15-set-2012, 10.12.07
    Author     : Santa
    Description:
        Purpose of the stylesheet follows.
*/
.longflipswitch.ui-field-contain div.ui-slider-switch
{
    width: 7.5em;
}
.ui-datebox-container .ui-header .ui-title, 
.ui-datebox-container .ui-footer .ui-title
{
    margin: .6em 15% .8em;
}