<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title data-th-text="|#{message.title} - ${title}|">Screening - Pazienti</title>

        <!-- bower:css -->
        <link rel="stylesheet" href="vendor/jquery-mobile-bower/css/jquery.mobile-1.4.5.css" />
        <!-- endbower -->
        <link rel="stylesheet" data-th-href="@{/css/main.css}" href="/css/main.css" />

        <script data-th-src="@{/vendor/requirejs/require.js}" data-th-attr="data-main=@{/js/main}" src="/vendor/requirejs/require.js" data-main="/js/main"></script>
    </head>
    <body>
        <div id="index" data-role="page">

            <div data-role="header" data-position="fixed" data-id="header" data-tap-toggle="false">
                <h1>Database Screening</h1>
                <form sec:authorize="isAuthenticated()" data-th-action="@{/logout}" method="post">
                    <button name="action" value="logout" class="ui-btn-right" data-inline="true" data-icon="delete">Log Out</button>
                </form>
            </div>

            <div data-role="main" class="ui-content" layout:fragment="content">
                <div data-role="controlgroup" data-type="horizontal" style="text-align: center;">
                    <a data-th-href="@{/index(page=0)}" data-role="button" data-icon="arrow-l" data-iconpos="left" data-th-class="${pagedResources.metadata.number &lt; 1}?ui-disabled">First Page</a>
                    <a data-th-href="${prevLink}" data-role="button" data-icon="back" data-iconpos="left" data-th-class="${pagedResources.metadata.number &lt; 1}?ui-disabled">Previous Page</a>
                    <a data-th-href="${nextLink}" data-role="button" data-icon="forward" data-iconpos="right" data-th-class="${pagedResources.metadata.number+1 &gt;= pagedResources.metadata.totalPages}?ui-disabled">Next Page</a>
                    <a data-th-href="@{/index(page=${pagedResources.metadata.totalPages-1})}" data-role="button" data-icon="arrow-r" data-iconpos="right" data-th-class="${pagedResources.metadata.number+1 &gt;= pagedResources.metadata.totalPages}?ui-disabled">Last Page</a>
                </div>
                <ul data-role="listview" data-inset="true">
                    <li data-th-each="entry : ${fooList}" data-th-text="${entry}">
                    </li>
                </ul>
                <ul data-role="listview" data-inset="true">
                    <li data-role="list-divider">Lista pazienti, pagina <span data-th-text="${pagedResources.metadata.number+1}">1</span> di  <span data-th-text="${pagedResources.metadata.totalPages}">1</span><span class="ui-li-count" data-th-text="${pagedResources.metadata.totalElements} + ' ' + (${pagedResources.metadata.totalElements &gt; 1 } ? #{message.patients}:#{message.patient})"> 1 records </span></li>
                    <li data-th-each="paziente : ${pagedResources.content.![content]}">
                        <a data-th-href="@{/paziente/{id}(id=${paziente.id})}">
                            <h3 data-th-text="|${paziente.nome} ${paziente.cognome}|"></h3>
                            <p class="folder-number"><strong data-th-text="${paziente.cartella}"></strong></p>

                            <p class="ui-li-aside">
                                <strong>BMI: </strong><span data-th-text="${paziente.bmi}">1.0</span><br/>
                                <strong>Nato il: </strong> <span data-th-text="${#calendars.format(paziente.datanascita,'dd/MM/yyyy')}">13 May 2011</span>
                            </p>
                        </a>
                    </li>
                </ul>
            </div>

            <div data-th-fragment="logout" class="logout" sec:authorize="isAuthenticated()">
                Logged user: <span sec:authentication="name">Bob</span> | <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
            </div>
        </div>
    </body>
</html>
